* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'montseratt', sans-serif;
  }
main {
    font-family: 'montseratt', sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
    padding: 25px;
  }
  .fontcss{
    font-family: 'montseratt', sans-serif;
  }
